/* styles.css */
.tooltip {
    position: absolute;
    background-color: #7ed8d7;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 18px;
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0.9;
    padding: 10px;
}

[translate] {
    color: #3a99bf;
}

.teacher {
    position: absolute;
    background-color: #d8d17e;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 18px;
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0.9;
    padding: 10px;
}

.li-word-translate {
    margin-bottom: 5px;
}

.floatingDiv {
    width: 140px;
    height: 140px;
    background-color: rgb(122 162 203);
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* Estilo da modal */
.modalVHT {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    justify-content: center;
    z-index: 1000;
}

.modalContentVHT {
    overflow: auto;
    height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.containerCloseBtn {
    position: relative;
}

.closeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin-top: unset;
    padding: 10px 20px;
    background-color: rgb(122 162 203);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.floatImage {
    width: 120px;
    height: 120px;
}
